@using BE.ModelosIII.Mvc.Models.Util
@inherits MvcContrib.FluentHtml.ModelWebViewPage<IEnumerable<BE.ModelosIII.Mvc.Models.Screening.ScreeningModel>>
<section class="utopia-widget">
    <div class="utopia-widget-title">
        <img class="utopia-widget-icon" src="/Content/img/icons/paragraph_justify.png">
        <span>Listado de Funciones</span>
    </div>
    <div class="utopia-widget-content">
        @if (ViewBag.Actions != null)
        {
            @Html.Partial("_Actions", (IEnumerable<ActionModel>)ViewBag.Actions)
        }
           
        <table class="table datatable table-striped table-bordered">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Sala</th>
                    <th>Complejo</th>
                    <th>Película</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Fecha</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Sala</th>
                    <th>Complejo</th>
                    <th>Película</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var screeningModel in Model)
                {
                    <tr>
                        <td>@screeningModel.StartDate</td>
                        <td>@screeningModel.StartTime</td>
                        <td>@screeningModel.EndTime</td>
                        <td>@screeningModel.Screen</td>
                        <td>@screeningModel.Multiplex</td>
                        <td>@screeningModel.Movie</td>
                        <td class="actions">
                          <a class="edit" data-original-title="Disponibilidad" href="@Url.Action("Availability", new { Id = screeningModel.Id })">
                              <img alt="Edit" src="/Content/img/icons/eye.png"></a> 
                          <a class="edit" data-original-title="Editar" href="@Url.Action("Edit", new { Id = screeningModel.Id })">
                                <img alt="Edit" src="/Content/img/icons/pencil.png"></a>
                           <a class="delete" data-original-title="Borrar" href="@Url.Action("Delete", new { Id = screeningModel.Id })">
                                    <img alt="Delete" src="/Content/img/icons/trash_can.png"></a>
                        </td>   
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
