@using BE.ModelosIII.Infrastructure.Helpers
@using BE.ModelosIII.Mvc.Models.Screen
@using MvcContrib.FluentHtml
@inherits ModelWebViewPage<BE.ModelosIII.Mvc.Models.Screening.ScreeningListModel>
@{
    ViewBag.Title = "Funciones";
    Layout = ViewBag.Layout;
}

@Html.Partial("_Search", Model.ScreeningSearch)
@Html.Partial("_List", Model.Screenings)

@section scripts {
    <script type="text/javascript" src="/Content/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/Content/js/tables.js"></script>
    <script type="text/javascript">
        $(function () {
            initializeDataTableOnLoad('.datatable');

            var screenModels = JSON.parse('@Html.Raw(ViewBag.Screens)');
            var originalMultiplexId = @Model.ScreeningSearch.MultiplexId;
            var originalScreenId = @Model.ScreeningSearch.ScreenId;

            var date = $(".datepicker").datepicker({
                    format: "dd/mm/yyyy",
                    weekStart: 0
                }).on('changeDate', function(ev) {
                    date.hide();
                }).data("datepicker");

            var loadScreens = function (id) {
                var screens;
                for (var i = 0; i < screenModels.length; i++) {
                    if (screenModels[i].MultiplexId === id) {
                        screens = screenModels[i].Screens;
                        break;
                    }
                }

                var items = '<option value="0">Seleccione un Complejo</option>';
                if (typeof (screens) != "undefined") {
                    items = '<option value="0">Seleccione una Sala</option>';
                    $.each(screens, function (i, sc) {
                        items += "<option value='" + sc.Id + "'>" + sc.Name + "</option>";
                    });
                }
                $('.screenSelect').html(items);
            };
            
            $('.multiplexSelect').change(function () {
                var multiplexId = parseInt($(this).val());
                loadScreens(multiplexId);
            });
            
            loadScreens(originalMultiplexId);
            $('.screenSelect').val(originalScreenId);
        });
    </script>
}

@section css {
    <link href="/Content/styles/datepicker.css" rel="stylesheet" type="text/css" />
}
