@model BE.ModelosIII.Mvc.Models.Screening.ScreeningModel
@{
    ViewBag.Title = "Disponibilidad Función";
    Layout = ViewBag.Layout;
}
<section class="utopia-widget">
    <div class="utopia-widget-title">
        <img class="utopia-widget-icon" src="/Content/img/icons/paragraph_justify.png">
        <span>Disponibilidad de la Función</span>
    </div>
    <div class="utopia-widget-content form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label">
                    Fecha</label>
                <div class="controls">
                    @Model.StartDate
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Hora Inicio</label>
                <div class="controls">
                    @Model.StartTime
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Asientos Libres</label>
                <div class="controls">
                    @Model.Report.FreeCount
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Asientos Reservados</label>
                <div class="controls">
                    @Model.Report.ReservedCount
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Asientos Comprados</label>
                <div class="controls">
                    @Model.Report.PurchasedCount
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Película</label>
                <div class="controls">
                    @Model.Movie
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Disponibilidad</label>
                <div class="controls">
                    @Html.Partial("_ScreenAvailabilityMap", Model.Rows)
                </div>
            </div>
        
            <div class="control-group box-button">
                <div class="utopia-form-button">
                    <a href="@Url.Action("Index", "Screening")" class="btn span2">Volver</a>
                </div>
            </div>
        </fieldset>
    </div>
</section>
