@using BE.ModelosIII.Mvc.Components.Html
@using BE.ModelosIII.Mvc.Models.Util
@inherits MvcContrib.FluentHtml.ModelWebViewPage<IEnumerable<BE.ModelosIII.Mvc.Models.Reservation.ReservationModel>>
<section class="utopia-widget">
    <div class="utopia-widget-title">
        <img class="utopia-widget-icon" src="/Content/img/icons/paragraph_justify.png">
        <span>Listado de Reservas / Compras</span>
    </div>
    <div class="utopia-widget-content">
        @if (ViewBag.Actions != null)
        {
            @Html.Partial("_Actions", (IEnumerable<ActionModel>)ViewBag.Actions)
        }
           
        <table class="table datatable table-striped table-bordered">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Asientos</th>
                    <th>Fecha Reserva</th>
                    <th>Hora Reserva</th>
                    <th>Código</th>
                    <th>Estado</th>
                    <th>Pago</th>
                    <th>Película</th>
                    <th>Promoción</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tfoot>
                 <tr>
                    <th>Usuario</th>
                    <th>Asientos</th>
                    <th>Fecha Reserva</th>
                    <th>Hora Reserva</th>
                    <th>Código</th>
                    <th>Estado</th>
                    <th>Pago</th>
                     <th>Película</th>
                    <th>Promoción</th>
                    <th>Total</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var screeningModel in Model)
                {
                    <tr>
                        <td>@screeningModel.UserEmail</td>
                        <td>@screeningModel.Seats</td>
                        <td>@screeningModel.Date</td>
                        <td>@screeningModel.Time</td>
                        <td>@screeningModel.Code</td>
                        <td>@screeningModel.Status</td>
                        <td>@screeningModel.PaymentStatus</td>
                        <td>@screeningModel.Movie</td>
                        <td>@screeningModel.Promotion</td>
                        <td>@screeningModel.Total.ToCurrency()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
