@using MvcContrib.FluentHtml
@inherits ModelWebViewPage<BE.ModelosIII.Mvc.Models.Reservation.ReservationListModel>
@{
    ViewBag.Title = "Reservas / Compras";
    Layout = ViewBag.Layout;
}

@Html.Partial("_Search", Model.ReservationSearch)
@Html.Partial("_List", Model.Reservations)

@section scripts {
    <script type="text/javascript" src="/Content/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/Content/js/tables.js"></script>
    <script type="text/javascript">
        $(function () {
            initializeDataTableOnLoad('.datatable');

            var urlPosibleDates = '@Url.Action("GetPosibleDates", "Multiplex", null)';
            var urlPosibleTimes = '@Url.Action("GetPosibleTimes", "Screening", null)';
            var screenModels = JSON.parse('@Html.Raw(ViewBag.Screens)');
            var originalMultiplexId = @Model.ReservationSearch.MultiplexId;
            var originalScreenId = @Model.ReservationSearch.ScreenId;
            var originalScreeningId = @Model.ReservationSearch.ScreeningId;
            var availableDates = [];

            var parseDate = function(strDate) {
                var parts = strDate.split('/');
                return new Date(parts[2], parts[1]-1, parts[0]);
            };
            
            var dateToString = function(date) {
                var strYear = date.getFullYear().toString();
                var month = (date.getMonth() + 1).toString();
                var strMonth = month.length === 1 ? "0" + month : month;
                var day = date.getDate().toString();
                var strDay = day.length === 1 ? "0" + day : day;
                return  strYear + "-" + strMonth + "-" + strDay;
            };

            var screeningDate = $(".datepicker").datepicker({
                        format: "dd/mm/yyyy",
                        weekStart: 0,
                        onRender: function(date) {
                            return availableDates.indexOf(date.valueOf()) == -1 ? 'disabled' : '';
                        }
                    }).on('changeDate', function(ev) {
                        loadTimes(ev.date);
                        screeningDate.hide();
                    }).data("datepicker");

            var loadTimes = function(date, callback) {
                var multiplexId = $('.multiplexSelect').val();
                var screenId = $('.screenSelect').val();

                 $.getJSON(urlPosibleTimes, {
                          multiplexId: multiplexId,
                          screenId: screenId,
                          date: dateToString(date)
                     }, function(data) {
                        var items = '<option value="0">Seleccione una Fecha</option>';
                        if (data.success && typeof (data.times) != "undefined") {
                            items = '<option value="0">Seleccione un Horario</option>';
                            $.each(data.times, function (j, sc) {
                                items += "<option value='" + sc.id + "'>" + sc.time + "</option>";
                            });
                        }
                        $('.screeningSelect').html(items);
                        
                        if (isFunction(callback)) {
                            callback();
                        }
                });
            };

            var loadDates = function(id, callback) {
                $.getJSON(urlPosibleDates, { id: id }, function(data) {
                    availableDates = [];
                    if (data.success) {
                        for (var i = 0; i < data.dates.length; i++) {
                            availableDates.push(parseDate(data.dates[i]).valueOf());
                        }
                        screeningDate.setValue(availableDates[data.dates.length - 1]);
                        if (isFunction(callback)) {
                            callback();
                        }
                    }
                    screeningDate.hide();
                });
            };

            var loadScreens = function (id) {
                var screens;
                for (var i = 0; i < screenModels.length; i++) {
                    if (screenModels[i].MultiplexId === id) {
                        screens = screenModels[i].Screens;
                        break;
                    }
                }

                var items = '<option value="0">Seleccione un Complejo</option>';
                if (typeof (screens) != "undefined") {
                    items = '<option value="0">Seleccione una Sala</option>';
                    $.each(screens, function (j, sc) {
                        items += "<option value='" + sc.Id + "'>" + sc.Name + "</option>";
                    });
                }
                $('.screenSelect').html(items);
            };

            $('.multiplexSelect').change(function () {
                var multiplexId = parseInt($(this).val());
                loadScreens(multiplexId);
            });
            
            $('.screenSelect').change(function () {
                var screenId = parseInt($(this).val());
                screeningDate.set();
                loadDates(screenId, function () {
                    loadTimes(screeningDate.date);
                });
            });

            loadScreens(originalMultiplexId);
            $('.screenSelect').val(originalScreenId);
            
            loadDates(originalScreenId, function () {
                loadTimes(screeningDate.date, function() {
                    $('.screeningSelect').val(originalScreeningId);
                });
            });
            
            
        });
    </script>
}

@section css {
    <link href="/Content/styles/datepicker.css" rel="stylesheet" type="text/css" />
}
