@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@RenderBody()

@section sidebar
{
    <ul>
        <li class=@(ViewBag.ControllerName == "scenario" ? "current" : string.Empty) >
            <a style="background-position: -118px -8px;"
                href="javascript:void(0)" title="complejos">
                <span>Escenarios</span>
            </a>
             <ul class="dropdown">
                    <li><a class="simple smronju" href="@Url.Action("Index", "Scenario", null)" title="Complejos">
                        <span>Listar</span> </a></li>
                    <li><a class="wizard-form smronju" href="@Url.Action("Create", "Scenario", null)" title="Crear Complejo">
                        <span>Crear</span> </a></li>
            </ul>
        </li>
        
        <li class=@(ViewBag.ControllerName == "run" ? "current" : string.Empty) >
            <a style="background-position: -118px -8px;"
                href="javascript:void(0)" title="complejos">
                <span>Soluciones</span>
            </a>
             <ul class="dropdown">
                    <li><a class="simple smronju" href="@Url.Action("Index", "Run", null)" title="Complejos">
                        <span>Listar</span> </a></li>
                    <li><a class="wizard-form smronju" href="@Url.Action("Create", "Run", null)" title="Crear Complejo">
                        <span>Crear</span> </a></li>
            </ul>
        </li>
        <li class=@(ViewBag.ControllerName == "report" ? "current" : string.Empty) >
            <a style="background-position: -12px -222px;"
               href="javascript:void(0)" title="reportes">
                <span>Reportes</span>
            </a>
              <ul class="dropdown">
                <li><a class="simple smronju" href="@Url.Action("MostSoldHour", "Report", null)" title="Horarios más vendidos">
                    <span>Horarios más vendidos</span> </a></li>
                <li><a class="simple smronju" href="@Url.Action("MostSoldMovie", "Report", null)" title="Películas más vendidas">
                    <span>Películas más vendidas</span> </a></li>
            </ul>
        </li>
    </ul>
}
@section css{
    @RenderSection("css", required: false)
}
@section scripts
{
    @RenderSection("scripts", required: false)
}
