@using MvcContrib.FluentHtml
@inherits ModelWebViewPage<BE.ModelosIII.Tasks.Commands.Multiplex.Screen.ScreenCommand>
@using (Html.BeginForm((string)ViewBag.ActionName, "Multiplex", FormMethod.Post, new { @id = "screenForm", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <fieldset>
        @Html.HiddenFor(m => m.MultiplexId)
        @Html.HiddenFor(m => m.Id)
        <div class="control-group">
            <label for="inputError" class="control-label">
                Nombre</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.Name, new { @class = "span4", maxlength = "255" })
                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="control-group">
            <label for="inputError" class="control-label">
                Capacidad</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.Capacity, new { @class = "span4", maxlength = "255" })
                @Html.ValidationMessageFor(m => m.Capacity, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="control-group">
            <label for="inputError" class="control-label">
             Asientos</label>
             <div class="controls">
                <div id="asientos">
                    @Html.Partial("_ScreenMap", Model)
                </div>
                @Html.Partial("_FileXMLUpload", Model.LayoutFile, new ViewDataDictionary(Html.ViewDataContainer.ViewData)
                {
                    TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "LayoutFile" }
                })
                @Html.ValidationMessageFor(m => m.Rows, null, new { @class = "help-inline" })
             </div>
        </div>
        <div class="control-group box-button">
            <div class="utopia-form-button">
                <a href="@Url.Action("ScreenIndex", new {id = Model.MultiplexId})" class="btn span2">Cancelar</a>
                <button href="javascript:void(0)" type="submit" class="btn btn-primary span2">
                    Guardar</button>
            </div>
        </div>
        <div>
       
        @Html.AntiForgeryToken()
    </fieldset>
}
