@using BE.ModelosIII.Infrastructure
@using MvcContrib.FluentHtml
@inherits ModelWebViewPage<IList<BE.ModelosIII.Mvc.Models.Screening.RowModel>>
@if (Model != null)
{
    <div style="width: 50%; text-align: center">PANTALLA</div>
    <table>
        <tr>
            <td>
            </td>
            @for (int i = 1; i <= BackendSettings.MaxNumberOfSeatsInScreen; i++)
            {
                 <td style="text-align: center">@i</td>
            }
        </tr>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @Model[i].Name
                </td>
                @for (int j = 1; j <= BackendSettings.MaxNumberOfSeatsInScreen; j++)
                {
                    var seat = Model[i].Seats.SingleOrDefault(s => s.Number == j);
                    if (seat != null)
                    {
                        if (seat.Available)
                        {
                             <td title="@(Model[i].Name + seat.Number)" style="width:30px; height:30px; background-image: url('/Content/img/seat-available.png');">
                            </td>
                        }
                        else if (seat.Reserved)
                        {
                            <td title="@(Model[i].Name + seat.Number)" style="width:30px; height:30px; background-image: url('/Content/img/seat-reserved.png');">
                            </td>
                        }
                        else if (seat.Purchased)
                        {
                            <td title="@(Model[i].Name + seat.Number)" style="width:30px; height:30px; background-image: url('/Content/img/seat-purchased.png');">
                            </td>
                        }
                    }
                    else
                    {
                        <td title="@(Model[i].Name + j)"  style=" width:30px; height:30px;">
                        </td>
                    }
                }
            </tr>
        }
    </table>
}
